body{
  background-color: #393E46;
}

footer{
  text-align: center;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
  margin-top: 5%;
}

h1{
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  font-size: 8rem;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

p{
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

.container{
  text-align: center;
  margin: auto;
}

.img{
  width: 80%;
}

.dice{
  display: inline-block;
}
